// ==== COLOR ==== //

/* base */
$white: rgb(255 255 255);

/* green */
$green-50: rgb(225 237 230);
$green-100: rgb(212 232 217);
$green-500: rgb(89 141 102);
$green-700: rgb(55 107 68);

/* gray */
$gray-50: rgb(244 246 245);
$gray-100: rgb(195 209 198);
$gray-500: rgb(134 146 139);
$gray-900: rgb(44 45 53);

/* background */
$bg-main: $gray-50;
$bg-accent: $green-50;

// ==== COMPONENTS ==== //

/* link */
$link-text-dark: $gray-900;
$link-text-light: $gray-500;
$link-text-hover: $green-500;
$link-text-active: $green-700;
$link-bg-focus: $green-100;

/* text */
$text-main-color: $gray-900;
$text-accent-color: $gray-500;
$text-accent-green-color: $green-500;

/* title */
$title-main-color: $gray-900;
$title-accent-color: $green-500;

/* border */
$border-wrapper-color: $gray-100;

/* button */
$button-text-dark: $gray-900;
$button-text-light: $green-500;
$button-text-hover-dark: $green-500;
$button-text-hover-light: $white;
$button-text-active: $green-700;
$button-bg-hover: $green-500;
$button-bg-active: $green-700;
$button-bg-focus: $green-100;
$button-border-color: $green-500;

// === TYPOGRAPHY ==== //
$font-family-primary: 'Raleway', sans-serif;
