// ==== COLOR ==== //

/* base */
$white: rgb(255 255 255);

/* green */
$green-50: rgb(225 237 230);
$green-500: rgb(89 141 102);
$green-700: rgb(55 107 68);

/* gray */
$gray-50: rgb(244 246 245);
$gray-500: rgb(134 146 139);
$gray-900: rgb(44 45 53);

/* background */
$bg-main: $gray-50;
$bg-accent: $green-50;

// === TYPOGRAPHY ==== //
$font-family-primary: 'Raleway', sans-serif;
