@use '../../styles/variables' as variables;

.header {
  padding: 33px 0;
  background-color: variables.$bg-accent;

  @media (width <= 480px) {
    background-color: variables.$white;
    padding: 16px 0;
  }
}

.content {
  display: flex;
  align-items: center;

  @media (width <= 700px) {
    flex-direction: column;
    gap: 16px;
  }
}

.link {
  display: block;
  transition: color 0.5s ease;

  img, svg {
    display: block;
  }

  &Cart {
    color: variables.$link-text-dark;

    &:hover {
      color: variables.$link-text-hover
    }

    &:active {
      color: variables.$link-text-active
    }
  }
}

.nav {
  margin-right: 60px;

  @media (width <= 700px) {
    margin-right: 0;
  }

  @media (width <= 480px) {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    transform: translateX(-100%);
    background-color: variables.$bg-accent;
    height: 100vh;
    padding: 76px 15px 15px;
    transition: transform 0.5s ease;
  }
}

.wrapper {
  &Nav {
    position: relative;
    display: flex;
    margin-left: auto;
    z-index: 1;

    @media (width <= 700px) {
      margin-left: 0;
      width: 100%;
      padding: 16px 0;
      justify-content: space-between;
      border-top: 1px solid variables.$border-wrapper-color;
    }

    @media (width <= 480px) {
      border-top: none;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        left: -15px;
        right: -15px;
        background-color: variables.$bg-accent;
        z-index: -1;
      }
    }
  }
}

.button {
  &Burger {
    display: none;
    color: variables.$button-text-dark;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: color 0.5s ease;
    cursor: pointer;
    z-index: 1;

    &:hover {
      color: variables.$button-text-hover-dark;
    }

    &:active {
      color: variables.$button-text-active;
    }

    @media (width <= 480px) {
      display: block;
    }
  }
}

.actions {
  @media (width <= 480px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.open {
  &Nav {
    transform: translateX(0);
  }
}
