<header class="header-main" role="banner">
  <div class="header-main__content container">
    <a class="header-main__link-log" href="/">
      <img src="/images/vector/logo.svg" width="143" height="35" alt="Логотип компании 'House'">
    </a>
    <nav class="header-main__nav" aria-label="Основная навигация">
      <ul class="header-main__list-nav">
        <li class="header-main__item-nav-link">
          <a class="header-main__link-nav" href="#">Репродукции</a>
        </li>
        <li class="header-main__item-nav-link">
          <a class="header-main__link-nav" href="#">Новинки</a>
        </li>
        <li class="header-main__item-nav-link">
          <a class="header-main__link-nav" href="#">О нас</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
