@use '../../styles/variables' as variables;

.header {
  padding: 33px 0;
  background-color: variables.$bg-accent;
}

.content {
  display: flex;
  align-items: center;
}

.link {
  &Logo {
    display: block;

    img {
      display: block;
    }
  }
}

.nav {
  margin-left: auto;
}

