@use '../../styles/variables' as variables;

.gallery {
  padding: 70px 0;

  @media (width <= 576px) {
    padding: 50px 0;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (width <= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= 480px) {
    grid-template-columns: 1fr;
  }

  &CountriesToggle {
    display: flex;
    gap: 32px;
    overflow-x: auto;

    @media (width <= 480px) {
      gap: 20px;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (width <= 720px) {
    flex-direction: column;
    gap: 20px;
  }
}

.title {
  color: variables.$title-main-color;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;

  @media (width <= 768px) {
    font-size: 30px;
  }

  @media (width <= 576px) {
    font-size: 24px;
  }
}
