@use '../../styles/variables' as variables;

.list {
  list-style: none;
  display: flex;
  gap: 58px;

  @media (width <= 480px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.link {
  text-decoration: none;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 6px;
  transition:
    color 0.5s ease,
    background-color 0.3s ease;

  @media (width <= 768px) {
    font-size: 18px;
    line-height: 21px;
  }

  &Header {
    color: variables.$link-text-dark;
  }

  &Footer {
    color: variables.$link-text-light;
  }

  &:hover {
    color: variables.$link-text-hover;
  }

  &:active {
    color: variables.$link-text-active;
  }
}
