@use '../../styles/variables' as variables;

.card {
  padding: 20px 20px 30px;
  background-color: variables.$bg-accent;
}

.wrapper {
  &Image {
    width: 100%;

    @media (width <= 480px) {
      display: flex;
      justify-content: center;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}
