@use '../../styles/variables' as variables;

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px;
  background-color: variables.$bg-accent;
  height: 100%;
}

.wrapper {
  &Image {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    @media (width <= 576px) {
      margin-bottom: 15px;
    }

    @media (width <= 480px) {
      display: flex;
      justify-content: center;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &Info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-grow: 1;
  }
}

.author {
  display: inline-block;
  margin-bottom: 10px;
  color: variables.$text-accent-color;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  @media (width <= 576px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.title {
  color: variables.$title-main-color;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-bottom: 10px;

  @media (width <= 576px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.details {
  display: inline-block;
  color: variables.$text-main-color;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 30px;

  @media (width <= 576px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.price {
  display: block;
  color: variables.$green-500;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin-top: auto;

  @media (width <= 576px) {
    font-size: 20px;
    line-height: 23px;
  }
}
